body {
  font-family: Montserrat;
}

#title {
  background-color: #40394a;
  color: #7eca9c;
}

.container-fluid {
  padding: 3% 5%
  /* opacity:1; */
}

/* .heavy {
opacity: .4;
} */

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h3 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 75px;
}

.nav-link {
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: 600;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2 rem;
  font-weight: 500;
}

/* Download Button  */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image  */
.image-title {
  width: 70%;
  transform: rotate(0deg);
  /* border-radius: 90%; */
/*  padding-top: 50px;
  padding-left: 50px;*/
}

/* Feature section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
  /* no need because this is lower in HTML */
}

.features-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials sections  */
#testimonials {
  text-align: center;
  background-color: #7eca9c;
  color: #fff;
}

#testimonials:hover {
  background-color: #29a19c;
  transition: 1s;
}

.testimonial-image {
  width: 70%;
  /* border-radius: 100%; */
  margin: 3%;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing selector */
#pricing {
  padding: 100px;
  text-align: center;
  background-color: #40394a;
}
.sections-h2 {
  color: #fff;
}

.pricing-column {
  padding: 3% 2%
}

/* CTA section */
#cta{
  background-color: #ff4c68;
  color: #fff;
  padding: 3% 15%;
  text-align: center;
}
.cta-heading{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight:900;
}

/* footer section  */
#footer{
  /* background-color: #fff; */
  padding: 3% 15%;
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
  .image-title {
    position: static;
    transform: rotate(0);
    width: 50%;
  }
  .animals:hover {
    color: #ff4c68;
    transition: 1s;
  }

}

.pressed {
  box-shadow:0 0 20px white;
  background-color: grey;
}
